extends ../layout
block content
      .widget-box
        .widget-title
          h5 可回收手机
          .buttons
            a.btn.btn-mini.btn-primary(href="/evaluates/add")
              i.icon-plus.icon-white
              | 添加
        .widget-content.nopadding
          table.table.table-bordered.table-striped
            thead
              tr
                th.pic 预览
                th 手机型号
                th 排序
                th 操作
            tbody
              each evaluate, i in evaluatelist
                tr
                  td.pic
                    img(src=evaluate.pic, onerror="this.src='/images/default.jpg'")
                  td #{evaluate.model}
                  td #{evaluate.seq}
                  td.op
                    a.btn.btn-mini.btn-success(href="/evaluates/#{evaluate._id}/edit")
                      i.icon-edit.icon-white
                      | 编辑
                    a.btn.btn-mini.btn-warning(href="/evaluates/#{evaluate._id}/logic")
                      i.icon-wrench.icon-white
                      | 逻辑
                    a.btn.btn-mini.btn-danger(href="/evaluates/#{evaluate._id}/del")
                      i.icon-remove.icon-white
                      | 删除
                