extends ../layout
block content
      .widget-box
        .widget-title
          h5 #{logic.name}
          .buttons
            a.btn.btn-mini.btn-primary(href="/evaluates/" + evaluateId +"/logic/" + logic._id + "/option/add")
              i.icon-plus.icon-white
              | 添加
        .widget-content.nopadding
          table.table.table-bordered.table-striped
            thead
              tr
                th 选项名称
                th 价格
                th 排序
                th 操作
            tbody
              each option, i in optionList
                tr
                  td #{option.name}
                  td #{option.price}
                  td #{option.seq}
                  td.op
                    a.btn.btn-mini.btn-success(href="/evaluates/" + evaluateId +"/logic/" + logic._id + "/option/#{option._id}/edit")
                      i.icon-edit.icon-white
                      | 编辑
                    a.btn.btn-mini.btn-danger(href="/evaluates/" + evaluateId +"/logic/" + logic._id + "/option/#{option._id}/del")
                      i.icon-remove.icon-white
                      | 删除