extends ../layout
block content
      .widget-box
        .widget-title
          h5 商品列表
          .buttons
            a.btn.btn-mini.btn-primary(href="/products/add")
              i.icon-plus.icon-white
              | 添加
        .widget-content.nopadding
          table.table.table-bordered.table-striped
            thead
              tr
                th.pic 预览
                th 手机型号
                th 排序
                th 操作
            tbody
              each product, i in productList
                tr
                  td.pic
                    img(src=product.pic, onerror="this.src='/images/default.jpg'")
                  td #{product.model}
                  td #{product.seq}
                  td.op
                    a.btn.btn-mini.btn-success(href="/products/#{product._id}/edit")
                      i.icon-edit.icon-white
                      | 编辑
                    a.btn.btn-mini.btn-warning(href="/products/#{product._id}/option")
                      i.icon-wrench.icon-white
                      | 属性
                    a.btn.btn-mini.btn-danger(href="/products/#{product._id}/del")
                      i.icon-remove.icon-white
                      | 删除
                