extends ../layout
block content
      .widget-box
        .widget-title
          h5 #{user.nickname}
        .widget-content.nopadding
          table.table.table-bordered.table-striped
            thead
              tr
                th 优惠券名称
                th 金额
                th 是否获得
                th 是否使用
            tbody
              each coupon, i in couponList
                tr
                  td #{coupon.name}
                  td #{coupon.amount}
                  td #{coupon.is_get}
                  td #{coupon.is_used}